/* 本文件专收 Element Plus 覆写样式：与项目自有 .visual-* 样式拆分，互不混写 */
.visual-editor-app .visual-image-input .el-input__wrapper {
  padding-left: 0;

  .el-color-picker {
    margin-right: 4px;
    margin-left: 4px;
    width: 30px;

    .el-color-picker__trigger {
      border-radius: 0;
    }
  }
}

.visual-editor-app .visual-normal-select .el-select__wrapper {
  border-radius: 0 !important;
}

.visual-editor-app .el-button,
.visual-editor-app .el-dialog,
.visual-editor-app .el-select .el-select__wrapper,
.visual-editor-app .el-input .el-input__wrapper,
.visual-editor-app .el-input .el-input-group__append,
.visual-editor-app .el-input .el-input-group__prepend,
.visual-editor-app .el-radio-group .el-radio-button__inner {
  border-radius: 0 !important;
}

.visual-editor-app .el-divider.el-divider--horizontal {
  margin: 12px 0;
}

.visual-editor-app .el-scrollbar .el-scrollbar__bar {
  z-index: 20;
}

.visual-materiel-container .visual-tabs {
  --el-tabs-header-height: 60px;

  .el-tabs__header {
    &.is-left {
      margin-right: 0;
    }

    .el-tabs__nav-wrap {
      .el-tabs__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0 12px;
      }
    }
  }

  .el-tabs__content,
  .el-tab-pane {
    height: 100%;
  }
}

.visual-materiel-container .visual-components .el-scrollbar__view {
  margin-left: 1px;
}

.visual-options-container,
.visual-materiel-container {
  .el-collapse {
    --el-collapse-header-height: 36px;

    .el-collapse-item__header {
      padding: 0 8px;
    }

    .el-collapse-item__content {
      padding-bottom: 0;
    }
  }
}

.visual-stage-container .el-scrollbar__view {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  // align-items: center;
}

.visual-stage-bar .el-radio-group .el-radio-button__inner {
  border-radius: 0 !important;
}

.visual-stage-bar .el-button-group .el-button {
  border-radius: 0 !important;
}
