html.dark .visual-transparent-bg {
  background: url('../assets/transparent-dark.svg');
}

.visual-transparent-bg {
  background: url('../assets/transparent.svg');
}

@mixin use-drop-styles($name) {
  &.is-drag [data-block-key='#{$name}'] .is-empty[data-component-key='#{$name}']::before {
    background-color: var(--el-color-primary-light-9);
  }
}

@mixin use-drop-data-source-styles($name) {
  &.is-drag[data-source-type='#{$name}'] [data-block-key='#{$name}'] .is-empty[data-component-key='#{$name}']::before {
    background-color: var(--el-color-primary-light-9);
  }
}

.visual-app {
  .visual-block.sortable-chosen {
    z-index: 20 !important;
  }

  .visual-group {
    [data-block-key='VisualCarousel'],
    [data-block-key='VisualImageTextCard'],
    [data-block-key='VisualImageTextList'],
    [data-block-key='VisualPictureWrap'],
    [data-block-key='VisualProductCardList'],
    [data-block-key='VisualProductList'] {
      & > .visual-box {
        pointer-events: none;
      }
    }

    &[data-component-key='VisualFlex'] {
      display: flex;
    }

    &[data-component-key='VisualFlex'],
    &[data-component-key='VisualFlex'] > .visual-block {
      flex: 1;
    }

    @include use-drop-styles('VisualFlex');
    @include use-drop-styles('VisualTabs');
    @include use-drop-styles('VisualEventContainer');
    @include use-drop-styles('VisualAuthGuard');
    @include use-drop-data-source-styles('VisualObject');
    @include use-drop-data-source-styles('VisualObjectArray');
  }
}
