html {
  --frame-h5-width: 375px;
  --frame-pad-width: 540px;
  --frame-pc-width: 750px;
}

.visual-materiel-container {
  .visual-tabs {
    height: 100%;
  }
}

.visual-stage-container {
  &.visual-disabled {
    .visual-group {
      .visual-block {
        outline-width: 0 !important;
        padding: 0 !important;
        pointer-events: none;
      }
    }
  }

  .sortable-drag {
    opacity: 0 !important;
  }

  .visual-group-item {
    position: relative;
    height: 32px !important;
    overflow: hidden;

    &::after {
      position: absolute;
      inset: 0;
      content: attr(data-name);
      background-color: var(--el-color-primary);
      color: #fff;
      font-size: 12px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.visual-stage-bar {
  svg {
    transform: scale(1.3);
    opacity: 0.8;
  }
}

.visual-list-data-options {
  .visual-control-item {
    padding: 0;
    min-height: auto;
  }
}
