@use '../utils/index.scss' as *;

.visual-app {
  @include generate-font-size-values();
  @include generate-spacing-values();
  @include generate-radius-values();
}

@include generate-text-size-classes();
@include generate-round-size-classes();

@include generate-slide-classes(margin, 24, 2);
@include generate-slide-classes(padding, 24, 2);
@include generate-bound-rect-classes(width, 6, 125);
@include generate-bound-rect-classes(height, 6, 125);

@include generate-grid-classes(12);
@include generate-gap-classes(24, 2);

.v-flex {
  display: flex;
}

.v-flex-row {
  flex-direction: row;
}

.v-flex-col {
  flex-direction: column;
}

.v-flex-wrap {
  flex-wrap: wrap;
}

.v-flex-nowrap {
  flex-wrap: nowrap;
}

.v-justify-center {
  justify-content: center;
}

.v-justify-between {
  justify-content: space-between;
}

.v-justify-around {
  justify-content: space-around;
}

.v-justify-start {
  justify-content: flex-start;
}

.v-justify-end {
  justify-content: flex-end;
}

.v-items-top {
  align-items: flex-start;
}

.v-items-bottom {
  align-items: flex-end;
}

.v-items-center {
  align-items: center;
}

.v-items-stretch {
  align-items: stretch;
}
