#nprogress .bar {
  z-index: 3000;
  height: 3px;
  background: var(--el-color-primary);
}

#nprogress .peg {
  box-shadow: 0 0 10px var(--el-color-primary), 0 0 5px var(--el-color-primary);
}

#nprogress .spinner {
  display: none;
}

@media (prefers-reduced-motion: reduce) {
  #nprogress .bar {
    transition: none;
  }
}
